body{
    font-family: 'Rubik', sans-serif;
    /* height: 100vh; */
    background-color: hsl(226, 43%, 10%);
    color: white;
    padding: 15%;
}

.grid-container{
    display: grid;
    grid-template-columns: 200px 200px 200px 200px;
    grid-template-rows: 200px 200px;
    gap: 20px;
    position: relative;
    /* top: 100px;
    left: 25%; */
}

.item1{
    position: relative;
    background-color: hsl(246, 80%, 60%);
    grid-row: 1/ span 2;
    z-index: 2;
    height: 300px;
}

.periodical{
    position: absolute;
    z-index: 1;
    width: 100%;
    height: 168px;
    top: 84%;
    /* margin-top: 70px; */
}

.item1, .item2, .item3, .item4, .item5, .item6, .item7, .periodical {
    box-sizing: border-box;
    border-radius: 20px;
}

.item2, .item3, .item4, .item5, .item6, .item7, .periodical {
    background-color: hsl(235, 46%, 20%);
}